<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All people</title>
</head>
<body>
    <!-- Stands for each -->
    <div th:each="person : ${people}">
        <!-- Want to make an url to every mail and text is name + surname -->
        <a th:href="@{/people/{nickname}(nickname=${person.getNickname()})}"
           th:text="${person.getNickname()}">user</a>
    </div>

    <hr/>

    <form th:action="@{/people/new}">
        <input type="submit" value="Create new person"/>
    </form>
</body>
</html>