<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All people</title>
</head>
<body>
    <!-- Stands for each -->
    <div th:each="person : ${people}">
        <!-- Want to make an url to every mail and text is name + surname -->
        <a th:href="@{/people/{email}/(email=${person.getKey()})}"
           th:text="${person.getValue().getName()} ${person.getValue().getSurname()}">user</a>
    </div>
    <br/>

    <a href="/people/new">Create new person</a>
</body>
</html>