<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
    <!-- When submit button is clicked - it will send post action to create person -->
    <form th:method="POST" th:action="@{/people}" th:object="${person}">
        <label for="name">Nickname: </label>
        <input type="text" th:field="*{nickname}" id="name"/>
        <br/>
        <label for="surname">Name: </label>
        <input type="text" th:field="*{name}" id="surname"/>
        <br/>
        <label for="email">Surname: </label>
        <input type="text" th:field="*{surname}" id="email"/>
        <br/>
        <hr/>
        <input type="submit" value="Create!"/>
    </form>
</body>
</html>